# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid

# Coverage directory
coverage/

# Dependency directories
node_modules/

# Python venv
.venv/
venv/

# TypeScript cache
*.tsbuildinfo

# Environment variables file
.env
.env.test

# Next.js build output
.next/
out/