# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid

# Coverage directory
coverage/

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Environment variables file
.env
.env.test

# Database dumps
*.sql
dump.sql

# Next.js build output
.next/
out/